/**
 * Flip them the bird!
 */
html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #cccccc;
}

.hand {
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  height: 444px;
  width: 344px;
  left: 50%;
  top: 50%;
  background-image: url("../favicon.png");
  background-repeat: no-repeat;
}

.share {
  overflow: hidden;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.twitter-share-button {
  vertical-align: bottom;
  margin-right: 8px;
}

@media (max-width: 600px) {
  .hand {
    -webkit-transform: translate3d(-50%, -50%, 0) scale(0.6);
    -moz-transform: translate3d(-50%, -50%, 0) scale(0.6);
    -ms-transform: translate3d(-50%, -50%, 0) scale(0.6);
    -o-transform: translate3d(-50%, -50%, 0) scale(0.6);
    transform: translate3d(-50%, -50%, 0) scale(0.6);
  }
}
